<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置一个mybatis映射文件，它会实现数据访问接口 -->
<!-- namespace配置的就是要实现的接口 -->
<mapper namespace="com.iTeam.dao.SalesDao">

  <!-- 根据接口的定义的方法进行配置 -->
  <!-- id配置方法的名称，resultType配置返回的数据类型 -->
  <!-- 标签内部配置对应的sql语句 -->
  

  
  <select id="findAll" resultType="Sales">
		select s.*,g.`goodsName`,c.`client`,st.storageName  from sales s join goods g on s.`goodsNo`=g.`goodsNo` inner join `client` c on s.`clientNo` = c.`clientNo` INNER join `storage` st on st.storageNo = s.storageNo
		<where>
			<if test="handler != null and handler != ''">
				and s.handler like #{handler}
			</if>
		</where>
		<if test="start != null and size != null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getGoodsList" resultType="Goods">
		select * from goods
	</select>
	
	<select id="getClientList" resultType="Client">
		select * from Client;
	</select>
  
  <select id="getTotal" resultType="Long">
		select COUNT(*) from sales
		<where>
			<if test="goodsName != null and goodsName != ''">
				and handler like #{handler}
			</if>
		</where>
	</select>
	
	<!-- <select id="findSalesBysNo" resultType="Sales" parameterType="int">
      select sNo,s.goodsNo,handler,priceSale,quantitySale,sRemark,clientNo,dateSale,g.goodsname "goods.goodsName",g.goodsNo "goods.goodsNo" from sales s join goods g on s.goodsNo=g.goodsNo where sNo=#{sNo}
  </select> -->
  
  <insert id="add" parameterType="Sales">
      insert into sales(sNo,goodsNo,handler,priceSale,quantitySale,sRemark,clientNo,dateSale,storageNo) values(#{sNo},#{goodsNo},#{handler},#{priceSale},#{quantitySale},#{sRemark},#{clientNo},#{dateSale},#{storageNo})
  </insert>
  
  <update id="update" parameterType="Sales">
      update sales set goodsNo=#{goodsNo},handler=#{handler},priceSale=#{priceSale},quantitySale=#{quantitySale},sRemark=#{sRemark},clientNo=#{clientNo},dateSale=#{dateSale},storageNo = #{storageNo}
      where sNo=#{sNo}
  </update>	
  
 
  
  <!-- 根据客户No删除用户信息 -->
  <delete id="deleteByClientNo" parameterType="Integer">
 	 DELETE FROM sales WHERE clientNo=#{clientNo};
  </delete>
  
  <!-- 根据客户No批量删除用户信息 -->
  <delete id="deleteByClientNos" parameterType="list">
  	delete from sales where clientNo in
		<foreach item="item" index="index" collection="list"
      		open="(" separator="," close=")">
        #{item}
  		</foreach>
  </delete> 
 
  
  <!-- 根据商品No删除销售信息 -->
  <delete id="deleteByGoodsNo" parameterType="Integer">
 	 DELETE FROM sales WHERE goodsNo=#{goodsNo};
  </delete>
  
  <!-- 根据商品No批量删除销售信息 -->
  <delete id="deleteByGoodsNos" parameterType="list">
  	delete from sales where goodsNo in
		<foreach item="item" index="index" collection="list"
      		open="(" separator="," close=")">
        #{item}
  		</foreach>
  </delete> 
  
  
   <!-- 根据仓库No删除销售信息 -->
  <delete id="deleteByStorageNo" parameterType="Integer">
 	 DELETE FROM sales WHERE storageNo=#{storageNo};
  </delete>
  
  <!-- 根据仓库No批量删除销售信息 -->
  <delete id="deleteByStorageNos" parameterType="list">
  	delete from sales where storageNo in
		<foreach item="item" index="index" collection="list"
      		open="(" separator="," close=")">
        #{item}
  		</foreach>
  </delete> 
  
  
  <!-- 根据销售信息删除销售信息 -->
   <!-- <delete id="deleteBySalse"  parameterType="Inteter">
       delete from sales
       <where>
       <if test="clientNo != null and clientNo != ''">
       or clientNo = #{clientNo}
       </if>
        <if test="goodsNo != null and goodsNo != ''">
       or goodsNo = #{goodsNo}
       </if>
      <if test="storageNo != null and storageNo != ''">
       or storageNo = #{storageNo}
       </if>
       </where>
    </select>
   <delete id="deleteBySalse"  parameterType="Inteter">
       delete from sales
       <where>
       </if>
       <if test="clientNo != null and clientNo != ''">
       or clientNo = #{clientNo}
       </if>
        <if test="goodsNo != null and goodsNo != ''">
       or goodsNo = #{goodsNo}
       </if>
      <if test="storageNo != null and storageNo != ''">
       or storageNo = #{storageNo}
       </if>
       </where>
    </delete>
  -->
 <!-- 根据销售信息编号删除销售信息 -->
  <delete id="deleteBysNo" parameterType="Integer">
      delete from sales where sNo=#{sNo}
  </delete>
 <!-- 根据销售信息编号删除销售信息 -->
  <delete id="deleteBatch" parameterType="list">
		delete from sales where sNo in
		<foreach item="item" index="index" collection="list"
      		open="(" separator="," close=")">
        #{item}
  		</foreach>
  </delete>
</mapper>