<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="http://localhost:8080/JXCMS2/jquery-easyui-1.3.3/jquery.min.js"></script>
<script type="text/javascript">
	/* var user={userName:'管理员',password:'123'};	
	var userStr=JSON.stringify(user);
	$.ajax({
		url: 'http://localhost:8080/JXCMS2/login',
		type:'post',
		headers: {
	        Accept: "application/json; charset=utf-8"
	    },
	    contentType: "application/json;charset=UTF-8",
		data:userStr,
		success: function(res) {
				console.log(res)
			},
		error: function(err) {
			console.log(err)
			}
		
	}) */
	/*
	$.ajax({
		url: 'http://localhost:8080/JXCMS2/users/h/1/10',
		type:'get',
		data:{},
		dataType: 'json',
		headers: {
	        Accept: "application/json; charset=utf-8"
	    },
	    contentType: "application/json;charset=UTF-8",
		success: function(res) {
				console.log(res)
			},
		error: function(err) {
			console.log(err)
			}
		
	}) 
	*/
	/*var selectedIds = [];
		for(var i = 0;i < 10;i++) {
			//测试是否提交成功
			selectedIds.push(i);
		}
		 var ids = selectedIds.join(",");
		//var idsJSON={'ids':ids};
		var ids=JSON.stringify(ids);
		alert(ids);
		$.ajax({
		  url: 'http://localhost:8080/JXCMS2/storage',
		  type: 'delete',
		  contentType: "application/json;charset=UTF-8",
		  data: ids,
		  success: function(res) {
				console.log(res)
			},
		});
		 */
		/*  var client = {client:"AAA"};
		 var clientJson=JSON.stringify(client);
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/client',
			  type: 'post',
			  contentType: "application/json;charset=UTF-8",
			  data: clientJson,
			  success: function(res) {
					console.log(res)
				},
			});  */
		 /*
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/client',
			  type: 'get',
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			}); 
			 */
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/inventorySearch',
			  type: 'get',
			  data:{
				  inventoryStorageNo:'10001',
				  page:11,
				  rows:1,
			  },
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			}); 
		
		 
		/*  var ids=[10014];
		 var ids=JSON.stringify(ids);
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/client',
			  type: 'delete',
			  data:ids,
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			});   */
			
	/* 		var goodsType={type:"HHH"};
			var type=JSON.stringify(goodsType);
			 $.ajax({
				  url: 'http://localhost:8080/JXCMS2/goodsType',
				  type: 'post',
				  data:type,
				  contentType: "application/json;charset=UTF-8",
				  success: function(res) {
						console.log(res)
					},
				}); */
			 
				 var goodsType={typeNo:10016,type:"HHHX"};
				var type=JSON.stringify(goodsType);
				 $.ajax({
					  url: 'http://localhost:8080/JXCMS2/goodsType',
					  type: 'put',
					  data:type,
					  contentType: "application/json;charset=UTF-8",
					  success: function(res) {
							console.log(res)
						},
					});  
	</script>
</head>
<body>

</body>
</html>