<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="http://localhost:8080/JXCMS2/jquery-easyui-1.3.3/jquery.min.js"></script>
<script type="text/javascript">
	
	/*
	$.ajax({
		url: 'http://localhost:8080/JXCMS2/users/h/1/10',
		type:'get',
		data:{},
		dataType: 'json',
		headers: {
	        Accept: "application/json; charset=utf-8"
	    },
	    contentType: "application/json;charset=UTF-8",
		success: function(res) {
				console.log(res)
			},
		error: function(err) {
			console.log(err)
			}
		
	}) 
	*/
	/*var selectedIds = [];
		for(var i = 0;i < 10;i++) {
			//测试是否提交成功
			selectedIds.push(i);
		}
		 var ids = selectedIds.join(",");
		//var idsJSON={'ids':ids};
		var ids=JSON.stringify(ids);
		alert(ids);
		$.ajax({
		  url: 'http://localhost:8080/JXCMS2/storage',
		  type: 'delete',
		  contentType: "application/json;charset=UTF-8",
		  data: ids,
		  success: function(res) {
				console.log(res)
			},
		});
		 */
		/*  var client = {client:"AAA"};
		 var clientJson=JSON.stringify(client);
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/client',
			  type: 'post',
			  contentType: "application/json;charset=UTF-8",
			  data: clientJson,
			  success: function(res) {
					console.log(res)
				},
			});  */
		 /*
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/client',
			  type: 'get',
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			}); 
		/* 	 */
		 /*  $.ajax({
			  url: 'http://localhost:8080/JXCMS2/inventorySearch',
			  type: 'get',
			  data:{
				  inventoryStorageNo:'10001',
				  page:11,
				  rows:1,
			  },
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			});  
		 */
		 /*  $.ajax({
			  url: 'http://localhost:8080/JXCMS2/stockIns',
			  type: 'get',
			 
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			});   */ 
		
		  
		
			/* var user={userName:'管理员',password:'123'};	
			var userStr=JSON.stringify(user);
			$.ajax({
				url: 'http://localhost:8080/JXCMS2/login',
				type:'post',
				headers: {
			        Accept: "application/json; charset=utf-8"
			    },
			    contentType: "application/json;charset=UTF-8",
				data:userStr,
				success: function(res) {
						console.log(res)
					},
				error: function(err) {
					console.log(err)
					}
				
			})  */  
		   /*  $.ajax({
			  url: 'http://localhost:8080/JXCMS2/logout',
			  success: function(res) {
					console.log(res)
				},
			});   */  
		/* var ids=[10001,10002,10003,10005,1000,10007,10014];
		 var ids=JSON.stringify(ids);
		 $.ajax({
			  url: 'http://localhost:8080/JXCMS2/storage',
			  type: 'delete',
			  data:ids,
			  contentType: "application/json;charset=UTF-8",
			  success: function(res) {
					console.log(res)
				},
			});  */
			
	 		/* var goodsType={type:"HHH"};
			var type=JSON.stringify(goodsType);
			 $.ajax({
				  url: 'http://localhost:8080/JXCMS2/goodsType',
				  type: 'post',
				  data:type,
				  contentType: "application/json;charset=UTF-8",
				  success: function(res) {
						console.log(res)
					},
				});  */
			 
				/* var goodsType={typeNo:10016,type:"HHHX"};
				var type=JSON.stringify(goodsType);
				 $.ajax({
					  url: 'http://localhost:8080/JXCMS2/goodsType',
					  type: 'put',
					  data:type,
					  contentType: "application/json;charset=UTF-8",
					  success: function(res) {
							console.log(res)
						},
					});   */
				/*  var ids=[10002];
				 var ids=JSON.stringify(ids);
				 $.ajax({
					  url: 'http://localhost:8080/JXCMS2/purchasing_Return',
					  type: 'delete',
					  data:ids,
					  contentType: "application/json;charset=UTF-8",
					  success: function(res) {
							console.log(res)
						},
					}); */  
					
					/*  $.ajax({
						  url: 'http://localhost:8080/JXCMS2/employees',
						  type: 'get',
						  contentType: "application/json;charset=UTF-8",
						  success: function(res) {
								console.log(res)
							},
						}); */
			/* var emp={empName:"李白",empDate:new Date(),empPhone:"15897548161",deptId:10004};
			var empdata=JSON.stringify(emp);
			 $.ajax({
				  url: 'http://localhost:8080/JXCMS2/employee',
				  type: 'post',
				  data:empdata,
				  contentType: "application/json;charset=UTF-8",
				  success: function(res) {
						console.log(res)
					},
				}); */
				
		/* 		var emp={empId:10017,empName:"李白",empDate:new Date(),empPhone:"15897548161",deptId:10003};
				var empdata=JSON.stringify(emp);
				 $.ajax({
					  url: 'http://localhost:8080/JXCMS2/employee',
					  type: 'put',
					  data:empdata,
					  contentType: "application/json;charset=UTF-8",
					  success: function(res) {
							console.log(res)
						},
					}); */
				 	
					/* var ids=[10017];
					var idsJSON=JSON.stringify(ids);
					 $.ajax({
						  url: 'http://localhost:8080/JXCMS2/employee',
						  type: 'delete',
						  data:idsJSON,
						  contentType: "application/json;charset=UTF-8",
						  success: function(res) {
								console.log(res)
							},
						}); */
 			 var user={userName:'管理员',password:'123'};	
						var userStr=JSON.stringify(user);
						$.ajax({
							url: 'http://localhost:8080/JXCMS2/login',
							type:'post',
							headers: {
						        Accept: "application/json; charset=utf-8"
						    },
						    contentType: "application/json;charset=UTF-8",
							data:userStr,
							success: function(res) {
									console.log(res)
								},
							error: function(err) {
								console.log(err)
								}
							
						}) 
						
 	 	 				 $.ajax({
							url: 'http://localhost:8080/JXCMS2/client',
							type:'get',
							headers: {
						        Accept: "application/json; charset=utf-8"
						    },
						    contentType: "application/json;charset=UTF-8",
							success: function(res) {
									console.log(res)
								},
							error: function(err) {
								console.log(err)
								}
							
						})    
						
 /* 	 		  $.ajax({
							url: 'http://localhost:8080/JXCMS2/logout',
							type:'post',
							headers: {
						        Accept: "application/json; charset=utf-8"
						    },
						    contentType: "application/json;charset=UTF-8",
							success: function(res) {
									console.log(res)
								},
							error: function(err) {
								console.log(err)
								}
							
						})    */ 
				 /*  var deptId={deptId:10000};
					var jsonId=JSON.stringify(deptId);
					  $.ajax({
						  url: 'http://localhost:8080/JXCMS2/department/employees',
						  type: 'get',
						  data: deptId,
						  contentType: "application/json;charset=UTF-8",
						  success: function(res) {
								console.log(res)
							},
						}); */ 
						  
					/* var dept={deptId:10005,deptName:"李白部",deptManagerId:"10015"};
					var deptdata=JSON.stringify(dept);
					 $.ajax({
						  url: 'http://localhost:8080/JXCMS2/department',
						  type: 'put',
						  data:deptdata,
						  contentType: "application/json;charset=UTF-8",
						  success: function(res) {
								console.log(res)
							},
						}); */
					/* 	var ids=[10005];
						var idsJson=JSON.stringify(ids);
						$.ajax({
							  url: 'http://localhost:8080/JXCMS2/department',
							  type: 'delete',
							  data:idsJson,
							  contentType: "application/json;charset=UTF-8",
							  success: function(res) {
									console.log(res)
								},
							}); */
					 
				/* 	var puc={goodsNo:10001,storageNo:10001,dateIn:new Date()};
					var puc=JSON.stringify(puc);
					 $.ajax({
						  url: 'http://localhost:8080/JXCMS2/purchasing',
						  type: 'post',
						  data:puc,
						  contentType: "application/json;charset=UTF-8",
						  success: function(res) {
								console.log(res)
							},
						}); */
	</script>
</head>
<body>

</body>
</html>